:root,
[data-theme='latte'] {
  color-scheme: light;

  --theme-base: #eff1f5;
  --theme-base-muted: #e6e9ef;
  --theme-base-subtle: #dce0e8;

  --theme-surface-0: #ccd0da;
  --theme-surface-1: #bcc0cc;
  --theme-surface-2: #acb0be;
  --theme-overlay-0: #9ca0b0;
  --theme-overlay-1: #8c8fa1;
  --theme-overlay-2: #7c7f93;
  --theme-overlay: var(--theme-surface-1);
  --theme-overlay-strong: var(--theme-surface-2);

  --theme-text: #4c4f69;
  --theme-text-subtle: #6c6f85;
  --theme-text-muted: #8c8fa1;

  --theme-rosewater: #dc8a78;
  --theme-flamingo: #dd7878;
  --theme-pink: #ea76cb;
  --theme-mauve: #8839ef;
  --theme-red: #d20f39;
  --theme-maroon: #e64553;
  --theme-peach: #fe640b;
  --theme-yellow: #df8e1d;
  --theme-green: #40a02b;
  --theme-teal: #179299;
  --theme-sky: #04a5e5;
  --theme-sapphire: #209fb5;
  --theme-blue: #1e66f5;
  --theme-lavender: #7287fd;

  --theme-primary: var(--theme-blue);
  --theme-primary-contrast: var(--theme-base);
  --theme-highlight: var(--theme-lavender);
  --theme-danger: var(--theme-red);
  --theme-success: var(--theme-green);
  --theme-warning: var(--theme-yellow);
  --theme-info: var(--theme-teal);
}

[data-theme='frappe'] {
  color-scheme: dark;

  --theme-base: #303446;
  --theme-base-muted: #292c3c;
  --theme-base-subtle: #232634;

  --theme-surface-0: #414559;
  --theme-surface-1: #51576d;
  --theme-surface-2: #626880;
  --theme-overlay-0: #737994;
  --theme-overlay-1: #838ba7;
  --theme-overlay-2: #949cbb;
  --theme-overlay: var(--theme-surface-1);
  --theme-overlay-strong: var(--theme-surface-2);

  --theme-text: #c6d0f5;
  --theme-text-subtle: #838ba7;
  --theme-text-muted: #a5adce;

  --theme-rosewater: #f2d5cf;
  --theme-flamingo: #eebebe;
  --theme-pink: #f4b8e4;
  --theme-mauve: #ca9ee6;
  --theme-red: #e78284;
  --theme-maroon: #ea999c;
  --theme-peach: #ef9f76;
  --theme-yellow: #e5c890;
  --theme-green: #a6d189;
  --theme-teal: #81c8be;
  --theme-sky: #99d1db;
  --theme-sapphire: #85c1dc;
  --theme-blue: #8caaee;
  --theme-lavender: #babbf1;

  --theme-primary: var(--theme-blue);
  --theme-primary-contrast: var(--theme-base);
  --theme-highlight: var(--theme-lavender);
  --theme-danger: var(--theme-red);
  --theme-success: var(--theme-green);
  --theme-warning: var(--theme-yellow);
  --theme-info: var(--theme-teal);
}

[data-theme='macchiato'] {
  color-scheme: dark;

  --theme-base: #24273a;
  --theme-base-muted: #1e2030;
  --theme-base-subtle: #181926;

  --theme-surface-0: #363a4f;
  --theme-surface-1: #494d64;
  --theme-surface-2: #5b6078;
  --theme-overlay-0: #6e738d;
  --theme-overlay-1: #8087a2;
  --theme-overlay-2: #939ab7;
  --theme-overlay: var(--theme-surface-1);
  --theme-overlay-strong: var(--theme-surface-2);

  --theme-text: #cad3f5;
  --theme-text-subtle: #8087a2;
  --theme-text-muted: #a5adcb;

  --theme-rosewater: #f4dbd6;
  --theme-flamingo: #f0c6c6;
  --theme-pink: #f5bde6;
  --theme-mauve: #c6a0f6;
  --theme-red: #ed8796;
  --theme-maroon: #ee99a0;
  --theme-peach: #f5a97f;
  --theme-yellow: #eed49f;
  --theme-green: #a6da95;
  --theme-teal: #8bd5ca;
  --theme-sky: #91d7e3;
  --theme-sapphire: #7dc4e4;
  --theme-blue: #8aadf4;
  --theme-lavender: #b7bdf8;

  --theme-primary: var(--theme-blue);
  --theme-primary-contrast: var(--theme-base);
  --theme-highlight: var(--theme-lavender);
  --theme-danger: var(--theme-red);
  --theme-success: var(--theme-green);
  --theme-warning: var(--theme-yellow);
  --theme-info: var(--theme-teal);
}

[data-theme='mocha'] {
  color-scheme: dark;

  --theme-base: #1e1e2e;
  --theme-base-muted: #181825;
  --theme-base-subtle: #11111b;

  --theme-surface-0: #313244;
  --theme-surface-1: #45475a;
  --theme-surface-2: #585b70;
  --theme-overlay-0: #6c7086;
  --theme-overlay-1: #7f849c;
  --theme-overlay-2: #9399b2;
  --theme-overlay: var(--theme-surface-1);
  --theme-overlay-strong: var(--theme-surface-2);

  --theme-text: #cdd6f4;
  --theme-text-subtle: #9399b2;
  --theme-text-muted: #a6adc8;

  --theme-rosewater: #f5e0dc;
  --theme-flamingo: #f2cdcd;
  --theme-pink: #f5c2e7;
  --theme-mauve: #cba6f7;
  --theme-red: #f38ba8;
  --theme-maroon: #eba0ac;
  --theme-peach: #fab387;
  --theme-yellow: #f9e2af;
  --theme-green: #a6e3a1;
  --theme-teal: #94e2d5;
  --theme-sky: #89dceb;
  --theme-sapphire: #74c7ec;
  --theme-blue: #89b4fa;
  --theme-lavender: #b4befe;

  --theme-primary: var(--theme-blue);
  --theme-primary-contrast: var(--theme-base);
  --theme-highlight: var(--theme-lavender);
  --theme-danger: var(--theme-red);
  --theme-success: var(--theme-green);
  --theme-warning: var(--theme-yellow);
  --theme-info: var(--theme-teal);
}
